.header_navbar{
    position: relative;
    width: 100%;
    a{
        text-decoration: none;
        color: #5A7529;
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 24px;
        font-weight: 400;
    }
    #navbar_buttom-check{
        display: none;
    }
    .navbar_icons{
        display: flex;
        align-items: center;
    }
    @include rwd(phone) {

        .navbar_cloud,.forcomputerdemo{
            display: none;
        }
        .navbar_burger{
            width: 44px;
            height: 44px;
            display: block;
            margin: 5px;
            // background-color: #5A7529;
            // border: #5A7529 1px solid;
            position: relative;
            z-index: 9999999;
            cursor: pointer;
            span{
                position: absolute;
                width: 30px;
                border: 1px solid #5A7529;
                top: 50%;
                transform: translate(-50%,-50%);
                left: 50%;
                transition: 0.5s;
                
                &::after{
                    content: '';
                    position: absolute;
                    width: 30px;
                    border: 1px solid #5A7529;
                    top: calc(50% - 10px);
                    transform: translate(-50%,-50%);
                    left: 50%;
                    transition: 0.5s;
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 30px;
                    border: 1px solid #5A7529;
                    top: calc(50% + 10px);
                    transform: translate(-50%,-50%);
                    left: 50%;
                    transition: 0.5s;
                }
            }
        }
        #navbar_buttom-check:checked+.navbar_burger span{
            border: 0px solid #5A7529;
            &::after{
                transform: rotate(45deg);
                top: 0;
                left: 0;
            }
            &::before{
                transform: rotate(-45deg);
                top: 0;
                left: 0;
            }
        }
        .navbar_container{
            display: flex;
            justify-content: space-between;
            padding-top: 10px;
            a{
                position: relative;
                z-index: 10;
            }
        }
        #logo{
            width: 150px;
            height: 75px;
            position: relative;
            z-index: 1;
        }
        .navbar_container_list{
            position: absolute;
            height: 550px;
            width: 100%;
            top: -425px;
            transition: 0.5s 0.3s;
        }
        .navbar_container_list img{
            width: 100%;
            height: 100%;
            position: absolute;
            top: -10px;
            left: 0;
            filter: drop-shadow(5px 5px 2px rgba(0,0,0,0.3));

        }
        .navbar_memicon{
            width: 30px;
            height: 30px;
            margin:0 5px;
            vertical-align: top;
            z-index: 1;
            position: relative;
        }
        .navbar_icons{
            margin-right: 5px;
        }
        #navbar_buttom-check:checked~.navbar_container_list{
            top: 0;
            transition: 0.5s;
        }
        .navbar_container_list ul{
            height: 100%;
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            padding-bottom: 100px;
            box-sizing: border-box;
        }
        .navbar_container_list ul li{
            margin-bottom: 30px;
            transition: 0.5s;
            position: relative;
            left: -500px;
        }
        #navbar_buttom-check:checked~.navbar_container_list li{
            left: 0;
            transition: 0.2s 0.4s;
        }
    }
    @include rwd(desktop) {
        #logo{
            width: 200px;
            height: 70px;
        }
        .phone_cloud{
            display: none;
        }
        .navbar_memicon{
            width: 44px;
            height: 44px;
            margin-left: 15px;
        }
        .navbar_cloud{
            position: absolute;
            width: 100%;
        }
        .navbar_burger{
            display: none;
        }
        .navbar_cloud img{
            width: 100%;
            filter: drop-shadow(5px 5px 2px rgba(0,0,0,0.3));
        }
        .navbar_container{
            height: 70px;
            display: flex;
            justify-content: space-between;
            position: relative;
            z-index: 999;
            max-width: 1200px;
            width: 95%;
            margin: 0 auto 100px;
        }
        .navbar_container_list{
            width: 80%;
            display: flex;
        }
        .navbar_container_list ul{
            display: flex;
            width: 100%;
            justify-content: space-around;
        }
        .navbar_container_list ul li{
            display: block;
            flex-grow: 1;
            text-align: center;
        }
        .navbar_container_list a{
            line-height: 70px;
            position: relative;
            transition: 0.5s;
            &:hover{
                color: #f09100 ;
                &::after{
                    width: 100%;
                }
            }
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                border-bottom: #5A7529 2px solid;    
                transition: 0.5s;
            }
        }
        .navbar_icons-phone{
            display: none;
        }
    }
}