@include rwd(desktop){
    // *{
    //     outline: solid 1px #f00;
    // }
    body{
        background-image: url("/images/background/bgi.svg");
        background-size: cover;
    }
    
    .ticket_customize{
        display: flex;
        justify-content: center;
        outline: solid 1px #f00;
        .ticket_customize_wrap{
            // padding: 20px;
            margin: 0 20px;
            width: 45%;
            outline: solid 1px #f00;
        }
    }
    .ticket_customize_wrap{
        .customize_items{
            width: 90%;
            margin: 0 auto;
            background-color: #FBDC92;
            border-radius: 15px;
            // outline: solid 1px #f00;
            box-shadow: 5px 5px #DC9C55;
            .customize_items_title{
                padding: 15px 15px 5px;
                font-size: 24px;
                // outline: solid 1px #f00;
            }
            @at-root
            .customize_items_box{
                display: flex; 
                flex-wrap: wrap;
                padding: 15px;
                margin-bottom: 20px;
                // outline: solid 1px #f00;
                .customize_item{
                    background-color: #E2B771;
                    box-shadow: -5px -5px #DC9C55;
                    border-radius: 20px;
                    width: 25%;
                    height: 70px;
                    padding: 5px;
                    margin: 1.5% 2.9%;
                    // outline: solid 1px #f00;
                    cursor: pointer;
                    img{
                        position: relative;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                }
            }
        }
        .customize_mascot_role{
            // outline: solid 1px #f00;
            background-image: url(/images/cusitems/rock.png);
            background-position: center bottom;
            background-repeat: no-repeat;
            @at-root
            .customize_mascot{
                width: 90%;
                margin: 0 auto;
                // outline: solid 1px #f00;
                img{
                    padding: 50px 20px 0;
                    width: 60%;
                    display: block;
                    margin: 0 auto;
                    // outline: solid 1px #f00;
                }
            }
            @at-root
            .customize_items_set_box{
                // outline: solid 1px #f00;
                padding: 25px;
                .customize_items_set{
                    border: solid 2px map-get( $colors_map , active_base );
                    border-radius: 20px;
                    margin: 0 auto;
                    width: 60%;
                    display: flex;
                    justify-content: center;
                    // outline: solid 1px #f00;
                    background-color: #fff;
                    box-sizing: border-box;
                    .customize_set{
                        width: 100%;
                        text-align: center;
                        i{
                            cursor: pointer;
                            vertical-align: top;
                            font-size: 20px;
                            margin: 0 auto;
                            width: 100%;
                            padding: 10px 0;
                            color: map-get( $colors_map , active_base );
                        }
                    }
                    li{
                        border-right: solid 2px map-get( $colors_map , active_base );
                    }
                    li:nth-child(5){
                        border-right: none;
                    }
                }
            }
        }
        .customize_mascots_box{
            display: flex;
            margin-bottom: 20px;
            // outline: solid 1px #f00;
            .customize_mascots{
                // outline: solid 1px #f00;
                border: solid 3px map-get( $colors_map , active_shadow );
                border-radius: 10px;
                background-color: #fff;
                width: 100px;
                text-align: center;
                margin: 0 5px;
                cursor: pointer;
                img{
                    vertical-align: top;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    // outline: solid 1px #f00;
                }
            }
        }
    }
    .customize_backimage{
        position: relative;
        // outline: solid 1px #f00;
        height: 785px;
        background-image: url(/images/background/ticket_backimage.svg);
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        @at-root
        .ticket_title,.ticket_subtitle{
            text-align: center;
            // outline: solid 1px #f00;
        }
        .ticket_title{
            color: #E2B771;
            text-shadow: 2px 2px #DC9C55;
            font-size: 52px;
            padding: 10px 50px;
            margin-top: 80px;
            border-bottom: solid 4px #E2B771;
            letter-spacing: map-get( $letter_spacing_map , lv2 );
        }
        .ticket_subtitle{
            font-size: 28px;
            color: #E2B771;
            text-shadow: 2px 2px #DC9C55;
            letter-spacing: map-get( $letter_spacing_map , lv3 );
            padding: 16px;
            // &::before,&::after{
            // }
        }
        .uploadpic{
            padding: 10px;
        }
        .ticket_picture{
            // outline: solid 1px #f00;
            width: 300px;
            height: 300px;
        }
        @at-root
        .ticket_amount{
            // outline: solid 1px #f00;
            width: 300px;
            display: flex;
            align-items: center;
            // justify-content: center;
            .ticket_amount_title{
                margin: 0 10px;
                padding: 10px;
                // outline: solid 1px #f00;
            }
            @at-root
            .ticket_amount_box{
                display: flex;
                align-items: center;
                // outline: solid 1px #f00;
                .ticket_amounts{
                    padding: 5px 0;
                    width: 60px;
                    text-align: center;
                    // outline: solid 1px #f00;
                }
                .count{
                    // outline: solid 1px #f00;
                    padding: 3px 6px;
                    background-color: #DC9C55;
                    font-size: 24px;
                    cursor: pointer;
                    i{
                        color: #fff;
                    }
                }
            }
        }
        .ticket_customize_sub{
            width: 190px;
            height: 190px;
            // outline: solid 1px #f00;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }





    .ticket_news_wrap{
        background-image: url(../images/background/ticket_news.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 625px;
        height: 400px;
        margin: auto;
        .ticket_news_box{
            width: 520px;
            height: 320px;
            margin: auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba($color: #FFE8CF, $alpha: 0.9);
            border-radius: 50px;
            padding: 40px;
            box-sizing: border-box;
            @at-root
            .ticket_news_box_list{
                font-size: 22px;
                line-height: 26px;
                border-bottom: dashed 2px #000;
                padding: 10px;
                display: flex;
                align-items: center;
                .triangle{
                    width: 0;
                    height: 0;
                    border-left: solid 18px map-get( $colors_map , hover_base );
                    border-top: solid 10px transparent;
                    border-bottom: solid 10px transparent;
                    margin-right: 30px;
    
                }
                &:hover{
                    // color: map-get( $colors_map , hover_base );
                    .triangle{
                        border-left: solid 18px map-get( $colors_map , active_base );
                    }
                }
            }
        }
    }

    
}

@include rwd(phone){
    
}